<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ipp.estg.restaurantfinder">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.SettingsActivity"></activity>
        <activity android:name=".activities.MapActivity"></activity>
        <activity android:name=".activities.RestaurantSelected" />
        <activity android:name=".activities.FavoritesRestaurants" />
        <activity android:name=".activities.NearbyRestaurants" />
        <activity android:name=".activities.SignUpActivity" />
        <activity android:name=".activities.AuthenticationActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyALGHZy2o6ZBXrvzVD714CqQ-5U9mH0S_Y" />
    </application>

</manifest>